<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Registration Suite" parallel="none">
  <test name="Registration Test">
    <classes>
      <class name="ru.letoapp.tests.RegistrationTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
